@model IEnumerable<CustomerMicroService.Model.Loan>


@{ Layout = "~/Views/Shared/_AdminLayout.cshtml"; }


<html>

<body class="">
    <h1>@ViewData["message"]</h1>
    <table style="width:100%" class="table table-bordered table-hover">
        <thead style="background-color: #2b6dad" class="text-white">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.CustomerId)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Loan_Id)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GoldWeight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentStatus)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
<tr>

    <td>
        <a asp-controller="CustomerDetails" asp-action="Index">
            @Html.DisplayFor(modelItem => item.CustomerId)
        </a>
    </td>
    <td>
        <a asp-controller="GetAccount">
            @Html.DisplayFor(modelItem => item.Loan_Id)
        </a>
    </td>
    <td>
        <a asp-controller="CustomerDetails" asp-action="Index">
            @Html.DisplayFor(modelItem => item.GoldWeight)
        </a>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Amount)
    </td>
    <td class="align-content-sm-center">
        <div>
            <a class="btn btn-outline-success" asp-controller="LoanUI" asp-action="Accept" asp-route-CustomerId="@item.Loan_Id" onclick="return confirm('Are you sure you want to Accept this Loan?');"> Accept</a>
            <a class="btn btn-outline-danger" asp-controller="LoanUI" asp-action="Reject" asp-route-CustomerId="@item.Loan_Id" onclick="return confirm('Are you sure you want to Reject this Loan?');">Reject</a>
        </div>

    </td>


</tr>}
        </tbody>
    </table>

    <script>
        function myFunction() {
            confirm("Press yes to Accept the Loan!");
        }
        function myFunction1() {
            confirm("Press yes to Reject the Loan!");
        }
    </script>
</body>
</html>
